* {
		margin: 0;
		box-sizing: border-box;
		font-family: arial, sans-serif;
}

body {
		width: 100vw;
		padding-top: 100px;
		
		display: flex;
		align-items: center;
		flex-direction: column;
}

h1 {
		font-size: 64px;
		font-weight: bold;
}

p {
		margin: 70px 0 30px;
		font-size: 32px;
}

main {
  margin-bottom: 50px;
  background: black;
  border: 1px solid black;
  border-radius: 50px;
  
  overflow: hidden;
		display: grid;
		grid-template-columns: auto auto auto;
		gap: 1px;
}

.box {
		width: min(25vw, 25vh);
		height: min(25vw, 25vh);
		background: white;
}
