* {
	margin: 0; 5
	box-sizing: border-box;
	font-family: arial, sans-serif;
}

body {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: rgb(230, 230, 230);
}

h1 {
	font-size: 64px;
	font-weight: bold;
	margin-top: 5vh;
}

p {
	margin: 5vh 0 2.5vh;
	font-size: 24px;
}

main {
	margin-bottom: 5vh;
	background: black;
	border: 2px solid black;
	border-radius: 25px;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 1px;
	box-shadow: 0px 0px 10px black;
}

.box {
	width: min(20vw, 18vh);
	height: min(20vw, 18vh);
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.box:hover {
	background: #f0f8eb /*rgb(230, 230, 230)*/;
	transition: .5s;
}

.box i{
	width: fit-content;
	font-size: 100px;
	color: #0a9649;
}

button{
	width: 30vw;
	height: 8vh;
	border-radius: 5px;
	margin-bottom: 5vh;
	background: #04d361;
	font-size: 24px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

button:focus {
	outline-style: none;
}

button:hover {
	background: #039645;
	color: white;
	transition: .5s;
}

footer {
	/*border: 1px solid black;*/
	width: 100%;
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #0eb459e0;
}

footer p {
	font-size: 20px;
	margin: 0;
}

footer a {
	text-decoration: none;
	color: black;
}

footer a:hover {
	font-weight: bold;
	font-size: 22px;
	color: white;
	transition: 1s;
}